#container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profil, #valeurs, #elea, #synthese, #projets, #competences {
    width: 95%;
}

#profil {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#profil img {
    width: 150px;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#profil h3 {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 0;
    display: inline-block;
}

#elea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#elea img {
    width: 30%;
    max-width: 300px;
    border-radius: 40px;
    object-fit: cover;
}

.marge {
    margin-left: 20px;
    flex: 1;
}

@media (max-width: 768px) {
    #elea {
        flex-direction: column;
        text-align: center;
    }

    #elea img {
        width: 80%;
        margin-bottom: 15px;
    }

    .marge {
        margin-left: 0;
    }
}