nav {
    background-color: #233134; 
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
}

nav a {
    color: #ddd;
    text-decoration: none;
    padding: 14px 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #ddd;
    color: #233134;
}

